body {
    background-color: #ffffff;
    font-family: "Circular Std", sans-serif;
    color: #081332;
}

// Navbar
.navbar-brand {
    img {
        height: 52px;
        width: 121px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #e4e4e4;
            font-weight: lighter;
            &.active {
                color: #ffffff !important;
                font-weight: 500;
            }
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.btn-login {
    background-color: #081332;
    color: #ffffff;
    width: 180px;
    height: 48px;
    border-radius: 42px;
    &:hover {
        background-color: #1d2d59;
        color: #ffffff;
    }
}

// Header
header {
    padding: 200px 0px 223px !important;
    margin-top: -90px !important;
    background-image: url("../images/header.jpg");
    background-size: cover;
    h1,
    p {
        color: #ffffff;
    }
    h1 {
        font-weight: 700;
        font-size: 72px;
    }
    p {
        font-weight: lighter;
        color: #e4e4e4;
        font-size: 16px;
    }
}

span {
    color: #ffe970;
}

//Statistics
.section-stats {
    margin-top: -50px;
    border-radius: 88px;
    .stat-detail {
        padding-top: 16px;
        background-color: #ffffff;
        padding-left: 64px;
        padding-right: 64px;
    }
    h2 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0px;
    }
    p {
        font-size: 16px;
        font-weight: lighter;
    }
    .rounded-start {
        border-bottom-left-radius: 88px !important;
        border-top-left-radius: 88px !important;
    }
    .rounded-end {
        border-top-right-radius: 88px !important;
        border-bottom-right-radius: 88px !important;
    }
}