body {
  background-color: #ffffff;
  font-family: "Circular Std", sans-serif;
  color: #081332;
}

.navbar-brand img {
  height: 52px;
  width: 121px;
}

.navbar-light .navbar-nav .nav-link {
  color: #e4e4e4;
  font-weight: lighter;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff !important;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.btn-login {
  background-color: #081332;
  color: #ffffff;
  width: 180px;
  height: 48px;
  border-radius: 42px;
}
.btn-login:hover {
  background-color: #1d2d59;
  color: #ffffff;
}

header {
  padding: 200px 0px 223px !important;
  margin-top: -90px !important;
  background-image: url("../images/header.jpg");
  background-size: cover;
}
header h1,
header p {
  color: #ffffff;
}
header h1 {
  font-weight: 700;
  font-size: 72px;
}
header p {
  font-weight: lighter;
  color: #e4e4e4;
  font-size: 16px;
}

span {
  color: #ffe970;
}

.section-stats {
  margin-top: -50px;
  border-radius: 88px;
}
.section-stats .stat-detail {
  padding-top: 16px;
  background-color: #ffffff;
  padding-left: 64px;
  padding-right: 64px;
}
.section-stats h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-stats p {
  font-size: 16px;
  font-weight: lighter;
}
.section-stats .rounded-start {
  border-bottom-left-radius: 88px !important;
  border-top-left-radius: 88px !important;
}
.section-stats .rounded-end {
  border-top-right-radius: 88px !important;
  border-bottom-right-radius: 88px !important;
}

.section-partners {
  min-height: 922px;
  background-color: #081332;
  margin-top: -44px;
  margin-bottom: -230px;
}
.section-partners .section-partners-heading {
  margin-top: 180px;
}
.section-partners .section-partners-heading h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
}
.section-partners .image-partner {
  margin-top: 56px;
  margin-left: 32px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 383px;
  border-radius: 32px;
  color: #ffffff;
  padding: 24px;
  background-size: cover;
  margin-bottom: 24px;
}
.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
  letter-spacing: 4px;
}
.section-popular-content .section-popular-travel .travel-location {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #f1a261;
  color: #ffffff;
  min-width: 192px;
  min-height: 52px;
  border-radius: 32px;
  margin-top: 228px;
  padding: 0px;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #f6b784;
  color: #ffffff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details p {
  padding-top: 10px;
}
.section-popular-content .header-travel {
  margin-top: -400px !important;
}
.section-popular-content .header-travel .section-h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  margin-top: -30px;
}
.section-popular-content .header-travel .section-h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
}
.section-popular-content .header-travel .section-h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  margin-top: -20px;
}

.section-testimonial-heading {
  background: linear-gradient(#ffffff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 600px;
}
.section-testimonial-heading h2 {
  color: #081332;
  font-size: 72px;
  font-weight: 700;
  margin-top: -30px;
}
.section-testimonial-heading h3 {
  color: #081332;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-top: 80px;
}
.section-testimonial-heading p {
  color: #7d7d7d;
  font-size: 16px;
  font-weight: lighter;
  margin-top: -20px;
}

.section-testimonial-content {
  margin-top: -240px;
  padding-bottom: 50px;
}
.section-testimonial-content .rounded {
  border-radius: 32px !important;
}
.section-testimonial-content .card-tertimonial {
  padding-top: 40px 20px 10px;
  margin-bottom: 16px;
}
.section-testimonial-content .testimonial-content {
  min-height: 352px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: #ffffff;
  border-radius: 32px;
}
.section-testimonial-content .testimonial-content h3 {
  font-size: 24px;
  font-weight: 400;
}
.section-testimonial-content .testimonial-content .testimonial {
  font-size: 16px;
  color: #7d7d7d;
  font-weight: lighter;
}
.section-testimonial-content .trip-to {
  font-size: 24px;
  font-weight: 500;
}
.section-testimonial-content hr {
  color: #7d7d7d;
}

.section-footer {
  margin-top: 164px !important;
  background-color: #081332;
}
.section-footer p {
  margin: 8px;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */