body {
    background-color: #ffffff;
    font-family: "Circular Std", sans-serif;
    color: #081332;
}

// Navbar
.navbar-brand {
    img {
        height: 52px;
        width: 121px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #e4e4e4;
            font-weight: lighter;
            &.active {
                color: #ffffff !important;
                font-weight: 500;
            }
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.btn-login {
    background-color: #081332;
    color: #ffffff;
    width: 180px;
    height: 48px;
    border-radius: 42px;
    &:hover {
        background-color: #1d2d59;
        color: #ffffff;
    }
}

// Header
header {
    padding: 200px 0px 223px !important;
    margin-top: -90px !important;
    background-image: url("../images/header.jpg");
    background-size: cover;
    h1,
    p {
        color: #ffffff;
    }
    h1 {
        font-weight: 700;
        font-size: 72px;
    }
    p {
        font-weight: lighter;
        color: #e4e4e4;
        font-size: 16px;
    }
}

span {
    color: #ffe970;
}

//Statistics
.section-stats {
    margin-top: -50px;
    border-radius: 88px;
    .stat-detail {
        padding-top: 16px;
        background-color: #ffffff;
        padding-left: 64px;
        padding-right: 64px;
    }
    h2 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0px;
    }
    p {
        font-size: 16px;
        font-weight: lighter;
    }
    .rounded-start {
        border-bottom-left-radius: 88px !important;
        border-top-left-radius: 88px !important;
    }
    .rounded-end {
        border-top-right-radius: 88px !important;
        border-bottom-right-radius: 88px !important;
    }
}

// Partners
.section-partners {
    min-height: 922px;
    background-color: #081332;
    margin-top: -44px;
    margin-bottom: -230px;
    .section-partners-heading {
        margin-top: 180px;
        h2 {
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 4px;
        }
    }
    .image-partner {
        margin-top: 56px;
        margin-left: 32px;
    }
}

// Popular Content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 383px;
            border-radius: 32px;
            color: #ffffff;
            padding: 24px;
            background-size: cover;
            margin-bottom: 24px;
        }
        .travel-country {
            font-size: 18px;
            font-weight: lighter;
            color: #ffffff;
            letter-spacing: 4px;
        }
        .travel-location {
            font-size: 24px;
            font-weight: 900;
            color: #ffffff;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #f1a261;
                color: #ffffff;
                min-width: 192px;
                min-height: 52px;
                border-radius: 32px;
                margin-top: 228px;
                padding: 0px;
                &:hover {
                    background-color: #f6b784;
                    color: #ffffff;
                }
                p {
                    padding-top: 10px;
                }
            }
        }
    }
    .header-travel {
        margin-top: -400px !important;
        .section-h1 {
            color: #ffffff;
            font-size: 72px;
            font-weight: 700;
            margin-top: -30px;
        }
        .section-h2 {
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 4px;
        }
        .section-h4 {
            color: #ffffff;
            font-size: 16px;
            font-weight: lighter;
            margin-top: -20px;
        }
    }
}

.section-testimonial-heading {
    background: linear-gradient(#ffffff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 600px;
    h2 {
        color: #081332;
        font-size: 72px;
        font-weight: 700;
        margin-top: -30px;
    }
    h3 {
        color: #081332;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 4px;
        margin-top: 80px;
    }
    p {
        color: #7d7d7d;
        font-size: 16px;
        font-weight: lighter;
        margin-top: -20px;
    }
}

.section-testimonial-content {
    margin-top: -240px;
    padding-bottom: 50px;
    .rounded {
        border-radius: 32px !important;
    }
    .card-tertimonial {
        padding-top: 40px 20px 10px;
        margin-bottom: 16px;
    }
    .testimonial-content {
        min-height: 352px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 64px;
        padding-right: 64px;
        background-color: #ffffff;
        border-radius: 32px;
        h3 {
            font-size: 24px;
            font-weight: 400;
        }
        .testimonial {
            font-size: 16px;
            color: #7d7d7d;
            font-weight: lighter;
        }
    }
    .trip-to {
        font-size: 24px;
        font-weight: 500;
    }
    hr {
        color: #7d7d7d;
    }
}

.section-footer {
    margin-top: 164px !important;
    background-color: #081332;
    p {
        margin: 8px;
        color: #ffffff;
    }
}